name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: AWS
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: 1234
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: uv sync
      - name: Run Black
        run: uv run black --check .
      - name: Run isort
        run: uv run isort --check-only .
      - name: Run Mypy
        run: uv run mypy .
      - name: Run Pytest and Coverage
        env:
          DATABASE_URL: postgres://admin:1234@localhost:5432/AWS
        run: uv run pytest --cov=. --cov-report=xml
      - name: Check Django Database Connection
        env:
          DATABASE_URL: postgres://admin:1234@localhost:5432/AWS
        run: python manage.py check --database default
